@media (max-width: 48em) {
  .text-wrapper {
    font-size: 70px;
  }
  span {
    font-size: 150px;
  }
  .hovertext {
    display: none;
  }
  .mobiletext {
    display: block;
  }
  .analog {
    display: block;
  }
}
@media (max-width: 34em) {
  .text-wrapper {
    font-size: 36px;
    gap: 5px;
  }
  span {
    font-size: 64px;
    margin-right: -10px;
    transform: translateY(-10px);
  }
  .text-wrapper p {
    font-size: 12px;
    width: 100%;
    top: 60%;
  }
}
